header,footer {
    background-color: rgb(241, 227, 138);
    height: 100%;
}

 li {
    list-style: none;
    display: inline-block;
    font-style: italic;
    max-width: 100%
    
    

 }

body {
    background: repeating-linear-gradient(
        45deg,
        rgb(72, 39, 17),
        ivory 10px,
        rgb(165, 80, 31) 40px,
        rgb(255, 225, 0) 50px
    )
    
    
}

a {
    text-decoration: none;

}

h1 {
    text-align: center;
    
}

.toplink {
    color: rgb(185, 0, 0);
    
    
    
   
}

.lowlink {
    color: rgb(185, 0, 0);
    padding-left: 1050px;
    

}



#hero {
    width: 80%;
    margin: 150px; 
    border-color: rgb(207, 120, 20);
    border-width: 15px;
    border-style: double;
    //border-radius: 200px;
   
}

#one {
    max-width: 50%;
    display: left;
    
    
   
    
}

#two {
    max-width: 1000%;
    float: right;
    height: 450px;
    padding-left: 50px; 
    
     
    
}

#first {
    color: black;
    text-align: center;
    padding-bottom: 100px;
    
}

#second {
    padding-bottom: 100px;
    text-align: center; 
}

#third, #fourth {
    max-width: 30%;
    
    

}

#third {
  padding-top: 100px;
  text-align: center;
  padding-left: 100px;
}

#fourth {
    float: right;
    padding-right: 200px;
    padding-bottom: 100px;
    
}

.bottom {
    display: inline-block;

}

footer {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    

}