header,footer {
    background-color: rgb(241, 227, 138);
    height: 100%;
}

 li {
    list-style: none;
    display: inline-block;
    font-style: italic;
    
    

 }

body {
    background: repeating-linear-gradient(
        45deg,
        rgb(72, 39, 17),
        ivory 10px,
        rgb(165, 80, 31) 40px,
        rgb(255, 225, 0) 50px
    )
    
    
}

a {
    text-decoration: none;

}

h1 {
    text-align: center;
    
}

.toplink {
    color: rgb(185, 0, 0);
    
    
    
   
}

.lowlink {
    color: rgb(185, 0, 0);
    float: right;
    

}

#hero {
    width: 80%;
    
}

#one {
    max-width: 30%;
    display: left;
    
   
    
}

#two {
    max-width: 30%;
    float: right;
    
     
    
}

#first {
    color: black;
    text-align: center;
    
}

#third, #fourth {
    max-width: 30%;
    
    

}

#fourth {
    float: right;
}

.bottom {
    display: inline-block;

}

footer {
    text-align: center;
    

}